html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: oklch(21% 0.034 264.665);
  color: oklch(92.8% 0.006 264.531);
  align-items: center;
  justify-content: center;
}

.gridContainer {
  display: flex;
}

.column,
.row {
  display: flex;
  flex-shrink: 0;
  flex-direction: column-reverse;
  width: 18px;
  height: 18px;
  background-color: white;
  border: solid oklch(55.6% 0 0) 2px;
}
